
  
<div class="container pb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="home">
        <h1 class="home-title">Instagram Application</h1>
        <p>インスタグラムへようこそ！</p>
        <div>
          <%= link_to "ログイン", "#", class: "btn btn-primary" %>
          <%= link_to "新規登録", "#", class: "btn btn-success" %>
        </div>
        <p style="margin-top: 30px">Facebookでログイン</p>
          <%= link_to "Facebook", "#", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
